*
{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

form
{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

h1
{
    color: black;
    font-size: 1.5rem;
}

.error
{
    color: red;
}

input
{
    border: 1px solid black;
}

select
{
    border: 1px solid black;
}
